@page
@model ResultRazorWeb.Pages.SortNumbersModel

<!DOCTYPE html>
<html>
<head>
    <title>Сортировка массива</title>
</head>
<body>
    <h1>Введите неотсортированный массив чисел через запятую</h1>
    <form method="post" class="w-50">
        <input type="text" asp-for="InputArray" placeholder="Введите числа через запятую" class="w-50">
        <button type="submit">Отсортировать</button>
    </form>
    <p>Отсортированный массив: @Model.SortedArrayText</p>
</body>
</html>

@{
}
